* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;

    display: grid;
    place-items: center;
}

.dots {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    background: rgb(22, 22, 22);
    transition: 0.5s ease;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
}

.dots span {
    background-color: #fff;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    transform: translate(calc(20px * var(--x)), calc(20px * var(--y)));
    transition: transform 0.5s linear, width 0.5s linear, height 0.5s linear, background-color .5s linear;
    transition-delay: calc(0.1s * var(--i));
}

.dots:hover {
    border: 1px solid #2dfc535b;
    filter: drop-shadow(0 0 1px #2dfc535b) drop-shadow(0 0 3px #2dfc535b) drop-shadow(0 0 7px #2dfc535b);
}

.dots:hover span {
    background-color: #2dfc535b;
    filter: drop-shadow(0 0 1px #2dfc535b) drop-shadow(0 0 3px #2dfc535b) drop-shadow(0 0 7px #2dfc535b);
}

.dots span i {
    visibility: hidden;
}

.dots.active {
    width: 450px;
    height: 450px;
    border-radius: 10px;
    border: 1px solid transparent;
    background: rgb(22, 22, 22);
    transition: 0.3s ease;
}

.dots.active:hover {
    border: 1px solid #2dfc535b;
}

.dots.active span {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(63, 61, 61, 0.842);
    transform: translate(calc(150px * var(--x)), calc(150px * var(--y)));
    cursor: pointer;
    border: 1px solid transparent;
}

.dots.active span i {
    visibility: visible;
    color: #fff;
    font-weight: 900;
    font-size: 1.8em;
    transition: 0.3s ease;
}

.dots.active span:hover i {
    color: #2dfc52;
    font-size: 2.1em;
    filter: drop-shadow(0 0 2px #2dfc53a8) drop-shadow(0 0 10px #2dfc53b0) drop-shadow(0 0 15px #2dfc539d);
}